<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            NODE
        </title>
    </head>
    <body>
        <h1>
            NODE JS
        </h1>
        <p>
            JAVASCRIPT RUNTIME
        </p>
    </body>
</html>